.super-mario {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 320px;
    left: 100px;
    float: down;

  }
  
  .baloon {
    position: absolute;
    width: 200px;
    left: 250px;
    top: 170px;

  }
  
  .speach {
    font-size: 25px;
    position: absolute
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 450px;
    top: 200px;
   
}