h1, p{
    text-align: center;
}
li:hover{
    background-color: cadetblue;
    padding: auto;
    margin-right: 90%;
}
li:active{
    font-family: 'Times New Roman', Times, serif;
}
body{
    font-family: monospace;
}