html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-size: 19px;
  color: #cecece;
  background-color: #141414;
}

main {
  margin: 0 8px;
}

nav {
  display: none;
}

header {
  padding: 10px 5px 5px;
  background-color: #222222;
  min-width: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0 35px;
}

header p {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  font-style: italic;
}

footer {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}

footer h3,
footer p {
  margin: 0 2px 10px;
}

.horizontal-line {
  background-color: #cecece;
  width: 100%;
  height: 1px;
  margin: 0 0 10px;
}

.aside-one {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 7px 0;
  font-size: 1em;
}

.aside-one h2 {
  font-size: 1.3em;
}

.aside-two {
  font-size: 15px;
  margin: 7px 0 0;
}

.aside-two h2 {
  font-size: 1.2em;
  margin: 0 0 4px;
}

.aside-two h2,
ul {
  margin: 0 2px;
}

.main-content {
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.main-content h1 {
  font-size: 1.1em;
}

@media screen and (min-width: 721px) {
  main .horizontal-line {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    font-size: 0.9em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 290px;
  }

  header {
    font-size: 1.2em;
    justify-content: space-between;
  }

  header p {
    max-width: 350px;
    text-align: left;
    margin-left: 10px;
  }

  .aside-container {
    display: flex;
    justify-content: space-around;
    max-width: 820px;
    margin: 0 auto;
  }

  .aside-container ul {
    list-style: none;
  }

  .aside-two {
    align-self: flex-end;
    margin: 7px 0;
    font-size: 0.9em;
  }

  .main-content {
    margin: 20px 10px;
    font-size: 1.1em;
  }

  .main-content h1 {
    text-align: center;
  }

  footer {
    font-size: 0.8em;
  }
}
