* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5px;
  font-size: 23px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

figure {
  margin: 0 0 20px;
}

@media screen and (min-width: 581px) {
  body {
    background-color: rgb(223, 169, 99);
    font-size: 20px;
    margin: 15px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-height: 1350px;
    max-width: 100%;
  }

  figure {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}

@media screen and (min-width: 951px) {
  body {
    max-width: 973px;
    margin: 0 auto;
    padding: 17px;
    background-color: rgb(105, 84, 63);
    color: white;
    font-size: 25px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  main {
    flex-wrap: nowrap;
    max-height: 100%;
  }

  figure {
    width: 65%;
  }
}
