body {
    margin: 10px 20% 10px 10%;
    position: absolute;
    padding: auto;
    background-color: #DCDCDC;
}

.pasteTextBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    padding: 15px 10px 5px 10px;
    border-radius: 5%;
    width: 650px;
    height: 150px;
    outline: none;
    resize: none;
    background-color: transparent
}

.withoutBorder {
    font-family: sans-serif;
    font-size: 14px; 
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.tamanhoFonte {
    margin-top: 5px;
}

.confTextBox {
    width: 150px;
    display: inline-block;
}

.textPasted {
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: black;
    word-wrap: break-word;
}

.textPastedArea {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,minmax(0,01fr));
    max-width: 1280px;
}