body {
    margin: 10px 20% 10px 10%;
    position: absolute;
    font-family: sans-serif;
    padding: auto;
    background-color: #DCDCDC;
}

.pasteTextBox {
    font-size: 14px;
    padding: 15px 10px 5px 10px;
    border-radius: 5%;
    width: 460px;
    height: 300px;
    outline: none;
    resize: none;
    background-color: transparent
}

.withoutBorder {
    font-size: 12px; 
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.tamanhoFonte {
    margin-left: 5px;
}

.confTextBox {
    width: 75px;
    display: inline-block;
}