body {
    margin: 0 0 0 0;
    background-color: #06111C;
    font-family: sans-serif;
}
main{
    width: 70%;
}
.imageconf{
    width: 400px;
    margin: 15px 15px 15px 15px;
}
#lower{
    font-size: 30px;
}
.navigation li{
    margin: 0px 20px 0px 20px;
    text-align: center;
    background-color: #BEC7C7;
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.bg-nav {
    background-color: #BEC7C7;
    padding: 1px;
    margin: 0 0 0 0 ; 
    display: block;
}
h1{
    color: #BEC7C7;
    text-transform: uppercase;
    background-color: #121317;
    margin: 0 0 0 0;
    padding: 10px;
}