body {
    margin: 0 0 0 0;
    background-color: #06111C;
    font-family: sans-serif;
    display: inline-block;
}
main{
    width: 80%;
    color: ivory;
}
.imageconf{
    width: 400px;
    margin: 15px 15px 15px 15px;
}
#lower{
    font-size: 30px;
}
.navigation li{
    margin: 0px 20px 0px 20px;
    text-align: center;
    background-color: #BEC7C7;
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.bg-nav {
    background-color: #BEC7C7;
    padding: 1px;
    margin: 0 0 0 0 ; 
    display: block;
    text-align: left;
}
h1{
    color: #BEC7C7;
    text-transform: uppercase;
    background-color: #121317;
    margin: 0 0 0 0;
    padding: 10px;
    text-align: center;
}
aside{
    background-color: lavender;
    display: inline-block;
    left: 150px;
}
h3{
    font-weight: bold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}
.organization{
    display: flex;
    flex-direction: row;
}