body {
    margin: 0 0 0 0;
    background-color: #BEC7C7;
    font-family: sans-serif;
}
main{
    width: 70%;
}
.imageconf{
    width: 400px;
    margin: 15px 15px 15px 15px;
}
header{
    background-color: #FFEB4D;
    margin: 0px 0px 0px 0px;
}
#lower{
    font-size: 30px;
}
.navigation li{
    margin: 0px 10px 0px 10px;
    background-color: #BB2020;
    display: inline;
}
.bg-nav {
    background-color: #BB2020;
    padding: 7px;
    margin: 0 0 0 0 ; 
    display: block;
}
h1{
    margin: 0 0 0 0;
}