* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(216, 240, 216);
  color: rgb(20 , 27 , 20);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.containers {
  width: 75%;
  padding: 9px;
  margin: 15px auto;
  background-color: rgb(248, 248, 248);
  border: solid rgb(213, 214, 213) 1px;
  border-radius: 5px;
}

.header {
  text-align: center;
  font-size: 18px;

  /* text-decoration: underline 1px; */

  /* font-style: italic; */
  text-transform: uppercase;
}

.fieldset {
  padding: 7px;
  font-size: 14px;
  border-radius: 5px;
  border: solid gray;
}

.lines {
  margin: 10px;
  font-size: 12px;
}

#estado {
  width: 50px;
}

.state {
  color: blue;
}
