body{
    font-size: 16px;
}
h1{font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
}
ul{
    background-color: #4e4e4e;
    line-height: 15px;
}
.changebg{
    background-color: rgb(253, 151, 67);
}
.estilofont{
    font-style: italic;
    text-align: right;
    text-decoration: orangered;
}
#amar-elo{
    background-color: yellow;
}
#verm-elho{
    background-color: red;
}
#mar-rom{
    background-color: rgb(179, 101, 38);
}
